[Unit]
Description=OpenVPN server
After=network-online.target

[Service]
ExecStart=/usr/bin/docker run -d --name vpn -p 1199:1199/udp --name vpn-server \
    --privileged --net=host -e HOST=vpn.hkjn.me -e SERVER_IP=10.0.47.0 \
    -e IP_MASK=255.255.255.128 -v /etc/ssl/openvpn/:/certs hkjn/armv7l-openvpn
Restart=always

[Install]
WantedBy=network-online.target

