[Unit]
Description=OpenVPN server
After=network-online.target

[Service]
ExecStartPre=-/usr/bin/docker stop vpn
ExecStartPre=-/usr/bin/docker rm vpn
ExecStartPre=-/usr/bin/docker pull hkjn/armv7l-openvpn
ExecStart=/bin/bash -c " \
  docker run --privileged --net=host --name vpn \
    -p 1199:1199/udp \
    -e HOST=$(hostname) \
    -e SERVER_IP=10.0.47.0 \
    -e IP_MASK=255.255.255.128 \
    -v /etc/vpn:/certs \
    hkjn/armv7l-openvpn"
ExecStop=/usr/bin/docker stop vpn
ExecStop=/usr/bin/docker rm vpn
Restart=always

[Install]
WantedBy=network-online.target

